@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
  display: none; 
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html,
body {
  -ms-overflow-style: none;
}